<configuration>
  <system.webServer>
	<rewrite>
		<rules>
			<rule name="Catch All">
				<match url="/*" />
				<action type="Rewrite" url="app.js" />
			</rule>
		</rules>
	</rewrite>
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
